@model ValidationModalViewModel

@{
    ViewData["Title"] = "ValidationModal";
}

<!-- Modal -->
<div class="modal fade" id="homeModal" data-toggle="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" @*role="document" *@>
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Please enter date of birth</h2>
            </div>
            <div class="modal-body">

                <form id="modal-form" asp-controller="Home" asp-action="Index" method="post" class="form-inline justify-content-center">
                    <div class="text-danger" aria-hidden="true">
                        <div asp-validation-summary="All"></div>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.Day" class="sr-only"></label>
                        <input asp-for="@Model.Day" type="number" class="form-control" placeholder="DD">
                        @*<span asp-validation-for="@Model.Day" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Month" class="sr-only"></label>
                        <input asp-for="@Model.Month" type="number" class="form-control" placeholder="MM">
                        @*<span asp-validation-for="@Model.Month" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Year" class="sr-only"></label>
                        <input asp-for="@Model.Year" type="number" class="form-control" placeholder="YYYY">
                        @*<span asp-validation-for="@Model.Year" class="text-danger"></span>*@
                    </div>

                    <div class="row">
                        <button type="submit" class="btn btn-primary btn-lg">Continue</button>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>



